.photos {

}

.photo {
  .image {
    img {
      width: 100px;
    }
  }
  .info {
    .name {
      h2 {
        color: black;
      }
    }
    .description {
      p {
        font-size: 10px;
      }
    }
  }
}
