.photo-show {
  .image {
    img {
      max-width: 100%;;
    }
  }
  .info {
    .name {
      h2 {
        color: black;
      }
    }
    .description {
      p {
        font-size: 10px;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between
}

