---
title: Schilderijen
---

<%= cl_image_tag("obswsshu3sc6witbjdvz.jpg",
      width: 400, height: 300, crop: :fill) %>

<div class="photos">
  <% data.photos.each do |photo| %>
  <% link_to "/photos/#{photo[:id]}.html" do %>
  <div class="photo">
    <div class="image">
      <%= image_tag photo[:image_url] %>
    </div>
    <div class="info">
      <div class="name">
        <h2>
          <%= photo[:name] %>
        </h2>
      </div>
      <div class="description">
        <p>
          <%= photo[:description] %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
